<div style="width: 70%; float:right;">
    <table border = 2>
        <tr>
        <td>Location</td>
        <td>Sensor name</td>
        <td>Record date</td>
        <td>Record value</td>
        </tr>
        {% for data_record in data_records %}
            <tr>
                <td>{{ data_record.location }}</td>
                <td>{{ data_record.name }}</td>
                <td>{{ data_record.date }}</td>
                <td>{{ data_record.value }}</td>
            </tr>
        {% endfor %}
    </table>
</div>